html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: white;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 50px;
}

#home {
  height: 100%;
  width: 100%;
  overflow: hidden;

  #background {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: all 0.2s ease-in-out;
  }


  #content {
    height: 100%;
    width: 100%;
    overflow: auto;
    text-align: center;
  }

  #social {
    transition: all 0.2s ease-in-out;
  }

  #main {
    transition: all 0.5s ease-in-out;
  }

  &.link-active {
    #main {
      opacity: 0.2;
      filter: blur(2px);
      transition: all 0.5s ease-in-out;
    }

    #social {
      opacity: 0.2;
      filter: blur(2px);
      transition: all 0.2s ease-in-out;
    }

    #background {
      -webkit-filter: blur(10px) brightness(0.7);
      -moz-filter: blur(10px) brightness(0.7);
      -o-filter: blur(10px) brightness(0.7);
      -ms-filter: blur(10px) brightness(0.7);
      filter: blur(10px) brightness(0.7);
      transform: scale(1.1);
      transition: all 0.2s ease-in-out;
    }
  }
}

#links {
  transition: all 0.2s ease-in-out;
  .link {
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    .link {
      filter: blur(1px);
      transform: scale(0.7);
      opacity: 0.5;
      transition: all 0.2s ease-in-out;
      &:hover {
        filter: none;
        transform: none;
        opacity: 1;
      }
    }
    transition: all 0.2s ease-in-out;
  }
}

.link {
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin: 20px;

  &:hover, &:visited {
    color: white;
    text-decoration: none;
  }

  img {
    border-radius: 100%;
    width: 150px;
    transition: all 0.2s ease-in-out;
  }

  p {
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    img {
      transform: scale(1.18);
      opacity: 0.7;
      transition: all 0.2s ease-in-out;
    }

    p {
      font-size: 22px;
      transform: translate(0px, -113px);
      transition: all 0.2s ease-in-out;
    }

  }
}